<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>Dream Planner</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div id="body_bg">
        <div id="container_header" class="container">
            <div id="header" class="row">
                <div class="col-md-12 margin-top-15">
                    <ul class="social-icons circle pull-right">
                        <li class="social-twitter">
                            <a href="https://twitter.com/" target="_blank" title="Twitter"></a>
                            </li>
                        <li class="social-youtube">
                            <a href="https://www.youtube.com/" target="_blank" title="Youtube"></a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="primary-container-group">
            <!-- Background -->
            <div class="primary-container-background">
                <div class="primary-container"></div>
                <div class="clearfix"></div>
            </div>
            <!--End Background -->
            <div class="primary-container">
                <div id="container_hornav" class="container no-padding">
                    <!-- Logo -->
                    <div class="logo">

                    </div>
                    <!-- End Logo -->
                    <!-- Slogan -->
                    <p class="site-slogan">YOU DREAM, WE PLAN</p>
                    <!-- End Slogan -->
                    <!-- Top Menu -->
                    <div class="row">
                        <div class="hornav-block">
                            <div id="hornav" class="pull-right">
                                <ul id="hornavmenu" class="nav navbar-nav">
                                    <li>
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>
                                    <li>
                                        <span>Services</span>
                                        <ul>
                                            <li>
                                                <a href="#">Our Services</a>
                                            </li>
                                            <li>
                                                <a href="#">Wedding</a>
                                            </li>
                                            <li>
                                                <a href="#">Birthday</a>
                                            </li>
                                            <li>
                                                <a href="#">Community</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#">Gallery</a>
                                    </li>

                                    <li>
                                        <a href="#">About Us</a>
                                    </li>

                                    <li>
                                        <a href="#">Contact</a>
                                    </li>

                                    <li>
                                        <a href="#">Log In</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- End Top Menu -->

                </div>
                <div class="container body-content">
                    @RenderBody()
                </div>
                <!-- Footer Menu -->
                <div id="footermenu" class="container">
                    <div class="row">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a href="#" target="_blank">Services</a>
                            </li>
                            <li>
                                <a href="#">Gallery</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- End Footer Menu -->
            </div>
        </div>
        <div class="container padding-vert-30">
            <div class="row">
                <div id="copyright">
                    <p>(c) 2017 Copyright by Dream Planner Co.</p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
<!-- === END FOOTER === -->
