@model DreamPlanner_Main.Models.UserDefinedModels.UserExperience

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserExperience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating.RatingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating.RatingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperienceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExperienceDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserExperienceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
